:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
}

/* Start: Global overrides required to prevent tooltip overflow */
.canvasjs-chart-tooltip {
  max-width: 90vw;
}

.canvasjs-chart-tooltip>div {
  white-space: pre-wrap !important;
}

/* End: Global overrides required to prevent tooltip overflow */

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
  } */

  /* html {
    color-scheme: dark;
  } */
}