.App {
  text-align: center;
}

#debates-section-header {
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5vmin;
  padding-right: 5vmin;
  font-size: calc(10px + 2vmin);
  color: black;
}

#debates-section-header__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#debates-section-header__info h2 {
  margin-right: 5vmin;
}

#debates-section {
  padding-left: 5vmin;
  padding-right: 5vmin;
  margin-bottom: 5vmin;
  text-align: left;
}

header, footer, h2 {
  background-color: #e3e3e3;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
}

h2 {
  padding-top: 2vmin;
  padding-bottom: 2vmin;
}

footer {
  padding-bottom: 0vmin;
}

.note {
  font-size: 12px;
}